---


- name: Install Apache (httpd) package
  ansible.builtin.yum:
    name: httpd
    state: present

- name: Copy custom index.html template
  ansible.builtin.template:
    src: index.html.j2
    dest: /var/www/html/index.html
    owner: root
    group: root
    mode: '0644'
  notify: Restart Apache

- name: Enable and start Apache service
  ansible.builtin.service:
    name: httpd
    state: started
    enabled: true
